.top{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    position: relative;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:  #585858;
}
.header img{
    width:40px;
    border-radius: 100%;
}